* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, rgb(46, 46, 107), rgb(119, 78, 59));
}

/* ===== HEADER ===== */
header {
    width: 100%;
    border-bottom: 1px solid rgb(119, 78, 59);
}

/* topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/* gauche */
.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* image */
header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

/* titre */
header h1 {
    color: rgb(196, 228, 230);
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    font-weight: 700;
}

/* ===== MAIN ===== */
main {
    min-height: 80vh;
    width: 100%;
    padding: 20px;
}

/* titre section */
.titre {
    text-align: center;
    margin: 20px 0;
}

.titre h2 {
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    padding: 5px 10px;
    background: rgba(99, 6, 68, 0.4);
    border-radius: 5px;
}

/* couleurs */
.part1 {
    color: #fcfdff;
}

.part2 {
    color: #3b82f6;
    margin-left: 8px;
}

/* ===== DESCRIPTION ===== */
.desc {
    text-align: center;
    max-width: 700px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.6;
}

.l1 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #eee;
}

.l2 {
    font-size: 1.05rem;
    color: #ddd;
}

.l3 {
    font-size: 0.95rem;
    color: #301212;
}

.l4 {
    font-size: 0.85rem;
    color: #301212;
}



.language h3 {

    text-align: center;
    justify-content: center;
    color: #ccc;
    font-size: 1.5rem;

}

/* ===== STACK ===== */
.stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.stack span {
    padding: 6px 14px;
    background: rgba(59, 130, 246, 0.1);
    color: #0e203d;
    border-radius: 20px;
    font-size: 0.85rem;
    border: 1px solid rgba(59, 130, 246, 0.3);
    transition: 0.3s;
}

.stack span:hover {
    background: #3b82f6;
    color: white;
}

.realisations h3 {
    text-align: center;
    color: #09022c;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.realisations h3:hover {
    color: #490d0d;
}

.card-content {
    display: flex;
    flex-direction: column;
    /* Mobile : image en haut */
    gap: 20px;
    align-items: center;
    /* Centrage horizontal sur mobile */

}

.card-content img {
    width: 100%;
    max-width: 500px;
    height: auto;
    gap: 50px;
}

.card-content .text {
    font-size: 1rem;
    line-height: 1.6;
    color: #ccc;
    text-align: justify;
    max-width: 500px;
    padding: 0 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2c8a0f;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
    margin: 50px 50px;
}


.btn:hover {
    background-color: #9405059d;
}


.footer {
    background-color: #000;
    color: #ccc;
    padding: 20px;

}

.footer-content {
    display: flex;
    flex-direction: column;
    /* mobile */
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 0.9rem;
}

a {
    color: #ee0707;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}

/* ===== TABLETTE ===== */
@media (min-width: 768px) {
    header img {
        width: 70px;
        height: 70px;
    }

    header h1 {
        font-size: 1.8rem;
    }

    .titre h2 {
        font-size: 2.2rem;
    }

    .desc {
        max-width: 800px;
    }


}

/* ===== DESKTOP ===== */
@media (min-width: 1024px) {
    .topbar {
        padding: 20px 40px;
    }

    header img {
        width: 80px;
        height: 80px;
    }

    header h1 {
        font-size: 2rem;
    }

    .titre h2 {
        font-size: 2.5rem;
    }

    .l1 {
        font-size: 1.2rem;
    }

    .l2 {
        font-size: 1.1rem;
    }

    .l3 {
        font-size: 1rem;
    }

    .l4 {
        font-size: 0.9rem;
    }

    .card-content {
        flex-direction: row;
        /* Horizontal */
        align-items: center;
        /* Centré verticalement */
        justify-content: center;
        /* Centré horizontalement */
        gap: 40px;
        /* espace entre image et texte */
    }

    .card-content img,
    .card-content .text {
        max-width: 45%;
        /* Image à gauche, texte à droite */
        padding: 0;
        border-radius: 0;
        /* plus de cadre arrondi */
        box-shadow: none;
        /* pas d'ombre */
        color: #ccc;
    }

    .footer-content {
        flex-direction: row;
        /* horizontal */
        justify-content: center;
        gap: 40px;
        font-size: 1rem;
    }


}